@using GravatarHelper

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown user-display">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                @Html.Gravatar((string)ViewBag.UserData.Email, 40, new { Title = "My Avatar", Alt = "Avatar" })
                <span>@ViewBag.UserData.DisplayName</span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <!-- limit this to logged in users with rights -->
                @if (ViewBag.UserData.CanCreatePost)
                {
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                }
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
