@using DataRepository.Models
@model Blog.Models.BlogView.BlogEntryVM
@{
    ViewBag.Title = Model.PageTitle;
}
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                    
                <!-- Page Header -->
                <header class="entry-header">
                    <div class="post-heading">
                        <h1>@Model.Title</h1>
                        <span class="meta">Posted by <a href="#">@Model.Author</a> on @Model.DateTimePosted</span>
                        <br />
                        @if (Model.Tags.Count > 0)
                        {
                            foreach (var tag in Model.Tags)
                            {
                                <span class="fa fa-tag post-tag">@tag.TagValue&nbsp;</span>
                            }
                        }
                    </div>
                </header>

                <article>
                    <img class="img-responsive img-main" src="@Model.MainImageUrl" alt="" />

                    <!-- Post Content -->
                    <p>@Html.Raw(Model.BlogText)</p>
                </article>
            </div>

            <div class="col-lg-4 col-md-4 widget-column">
                @Html.Partial("_Widgets")
            </div>
        </div>
    </div>

    <!-- Blog Comments -->
    <!--
    <div class="well">
        <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-numposts="5" data-colorscheme="light"></div>
    </div>
    -->

@section Scripts {
    @Scripts.Render("~/bundles/widgets")
}



