@model Blog.Models.BlogListModel

@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <!-- Blog Entries Column -->
    <div id="blog-items" class="col-md-8">

        <h1 class="page-header">
            @Model.Heading
            <small>@Model.SubHeading</small>
        </h1>

        <!-- First Blog Post -->
        @foreach (var post in Model.BlogPosts)
        {
            <h2>
                @Html.ActionLink(post.Title, "Entry", "Blog", new
               {
                   year = post.DateTimePosted.Year,
                   month = post.DateTimePosted.Month,
                   day = post.DateTimePosted.Day,
                   title = post.UrlTitle
               }, null)
            </h2>
            <p class="lead">
                by <a href="#">@post.Author</a>
            </p>
            <p><span class="glyphicon glyphicon-time"></span>@post.DateTimePosted</p>
            <hr />
            <img class="img-responsive img-main" src="@post.MainImageUrl" alt="" />
            <hr />
            <p>@Html.Raw(post.BlogSummary)</p>
            <a class="btn btn-primary" href="@Url.Action("Entry", "Blog",
                            new
                             {
                                year = post.DateTimePosted.Year,
                                month = post.DateTimePosted.Month,
                                day = post.DateTimePosted.Day,
                                title = post.UrlTitle
                             }
                         )">Read More<span class="glyphicon glyphicon-chevron-right"></span></a>

            <hr />
        }

        <!-- Pager -->
        <ul class="pager">
            @if (Model.HasPreviousPage) { 
                <li class="previous">
                    <a href="@Url.Current(new { page = Model.Page - 1 })">&larr; Newer</a>
                </li>
            }
            @if (Model.HasNextPage) {
                <li class="next">
                    <a href="@Url.Current(new { page = Model.Page + 1 })">Older &rarr;</a>
                </li>
            }
        </ul>
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Side Widget Well -->
        @{ Html.RenderPartial("~/Views/Blog/_Twitter.cshtml", Model.TwitterFeed); }
    </div>
</div>


